*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body
{
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form
{
    width: calc(100% - 20px);
    max-width: 500px;
    background-color: #fff;
    padding: 50px 40px;
}

.login-form h1
{
    text-align: center;
    margin: 48px 0;
    font-size: 36px;
    color: #111;
    font-size: 36px;
}

.textb
{
    margin-bottom: 12px;
    position: relative;
}
/* Input 태그 */
.textb input
{
    width: 100%;
    height: 70px;
    border: none;
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 60px 0 10px;
}

/* USERNAME & PASSWORD 부분 */
.placeholder
{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    line-height: 70px;
    top: 0px;
    left: 20px;
    color: #9d9d9d;
    user-select: none;
    pointer-events: none;
}

/* PASSWORD 부분 아이콘 */
.show-password
{
    position: absolute;
    right: 20px;
    line-height: 70px;
    color: #9d9d9d;
    font-size: 22px;
    cursor: pointer;
}

/* input태그를 클릭했을 때 해당 텍스트의 위치가 변화함 */
.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder
{
    left: 10px;
    top: -16px;
}
/* 체크박스 */
.checkbox
{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 20px 0;
}
/* 체크박스 부분 아이콘 */
.checkbox input
{
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    background-color: #ededed;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox .fa-check
{
    position: absolute;
    color: #fff;
    font-size: 14px;
    width: 24px;
    text-align: center;
    user-select: none;
    pointer-events: none;
    opacity: 0;
}
/* 체크됬을때 색변화 */
.checkbox input:checked
{
    background-color: #bc252a;
}
/* 체크됬을때 아이콘 나타남 */
.checkbox input:checked + .fa-check
{
    opacity: 1;
}
/* 아래 버튼 부분 */
.btn
{
    display: block;
    width: 100px;
    height: 100px;
    margin: 40px auto;
    background-color: #bc252a;
    color: #fff;
    font-size: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s linear;
}

.btn:hover
{
    opacity: .85;
}

.login-form a
{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #555;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 8px;
    transition: .2s linear;
}

.login-form a:hover
{
    color: #111;
}

.btn:disabled
{
    background-color: transparent;
    color: #ddd;
    border: 2px solid;
}
